 
html, body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
/*---topper-css---*/
.topper{
    background-color:dimgrey; 
    padding:10px; 
    font-size: 15px;
}
  
.topper .fa, .fab{    
    border: 0.1em groove gainsboro; 
    border:1px white solid;
    padding: 2px;  
    margin: 2px;   
    transition: transform .2s;
    transform: rotate(-45deg);
} 
.topper .fa:hover, .fab:hover{    
    transform: scale(1.2); 
}

.fa-twitter{
    color: cornflowerblue;
}

.fa-youtube{
    color: crimson;
}

.fa-instagram{
    color:fuchsia;
}

.fa-envelope{
    color:white;
}

.fa-phone-alt{
    color:white;
} 

/*--nav-bar--*/
.brand{  
    background-color: white;
    position:fixed;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 99;  
} 
    .nav-link, .dropdown-item{
    text-transform: uppercase;
    color: #01458E; 
    font-size: medium; 
    font-weight: 500;  
    margin:6px;
    background-attachment: fixed;  
    } 
    .navbar-brand img{
     width: 200px; 

    }  
  .button{  
      
    font-size: medium; 
    font-weight: 500;  
      font-family:Arial, Helvetica, sans-serif; 
      color:darkblue;
      padding:10px 20px;
      text-decoration: none; 
      transition: transform .2s;
      margin:11px; 
  }
  .button:hover{
      background-color: rgb(13, 160, 218);
      color:white;
      text-decoration: none;
      border:1.5px solid white; 
      transform:scale(1.1);     

  }
    .nav-item{
        margin:6px;
    }

    .nav-link{
        color: #01458E !important;
        transition: transform .2s;
    }
  
   .nav-item:hover .nav-link {
    color:rgb(6, 170, 235)!important;
    transform:scale(1.1);   
    border-bottom: 1.5px rgb(6, 170, 235) solid ;
    } 

    .dropdown-item:hover{
        background-color: rgb(6, 170, 235);
        color: white; 
    } 
    .dropdown:hover .dropdown-menu {
        display: block; 
        margin-top: 0; /* remove the gap so it doesn't close */
        z-index: 99;
     } 
     /*---end---*/
          /* -------------Slider----------- */

          .carousel-item{
            height: 550px !important;
        }
   
        @media only screen and (max-width: 600px) {
           .carousel-item img{
               height: 550px !important;
               object-fit: cover; 
           }
         } 
         .carousel-item h1{
             background-color:#01458e57;
         }
     /*---end--*/
     /*about section*/

.about-section{
    padding: 60px 5px 60px 5px;
}
@media only screen and (max-width: 600px) {
    .about-section h1, .about-section img{
        margin-top: 45px;
        transition: transform .2s;
    } 
}
.about-section img:hover{
    transform:scale(1.1);
}

.about-section h1{
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top:25px;
    font-size:65px;
} 
/*---end--*/
/*-----menu---*/
.menu{    
    padding:50px;
   }
   .menu h1{  
    color:darkblue; 
    margin-bottom: 25px;  
    font-size:35px;
    font-weight: 600; 
    font-family:Arial, Helvetica, sans-serif; 
    }
    .menu-1,.menu-2,.menu-3, h3{ 
    color:white; 
    margin-bottom: 25px;  
    font-size:35px;
    font-weight: 600; 
    font-family:Arial, Helvetica, sans-serif; 
    }
   .menu-1{   
    background-image:url("../img/drink1.jpg");   
    padding:50px; 
   }  
   .menu-2{
   background-image:url("../img/drink2.jpg");   
   padding:50px;
   }
   .menu-3{
    background-image:url("../img/drink3.jpg");   
    padding:50px; 
   } 
   .menu-1 li{
       list-style: none;
   }
   .menu-1 img{
       width: 120px;
       height: 100%;
   } 
   /*---end---*/
   /*---icon-block---*/
   .icon-block{
    background-image: url("../img/blog-1-fhd-copyright-760x589.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.icon-block .row{
    padding:0px;
    padding:100px;
    background-color:rgba(0, 0, 0, 0.664);
    opacity: .96; 
}
.icon-block h2{ 
    font-size:25px;   
    color:white;        
    font-weight:500;
    text-decoration: none;
}
.feicon{
    font-size: 95px;
    color:white;
    border:rgba(0, 0, 255, 0.445) solid 5px;
    border-radius:400px;
    padding: 12px 30px 12px 30px;
    margin-bottom:25px;
 }
 .feicon:hover{
     color:hsl(240, 100%, 27%); 
     border:white solid 5px;

 }

   /*--icon---*/
   .icon{
       background-color: wheat;
    padding:20px 50px 20px 50px;
   }
  .icon h1{ 
    color:darkblue; 
    margin-bottom: 25px;  
    font-size:35px;
    font-weight: 600; 
    font-family:Arial, Helvetica, sans-serif; 
  }
  .icon h2{
      
    color:darkblue; 
    margin-bottom:15px;  
    font-size:25px;
    font-weight: 600; 
    font-family:Arial, Helvetica, sans-serif; 
  }
   .ficon{
       font-size: 95px;
      color: rgba(0, 0, 255, 0.445);
      border:rgba(0, 0, 255, 0.445) solid 5px;
      border-radius:400px;
      padding: 12px 30px 12px 30px;
      margin-bottom:25px;
   }
   .ficon:hover{
       color:darkblue; 
      border: white solid 5px;

   }
/*----end----*/

     /*--btn-css---*/
.btn{ 
    margin:4px;  
    font-size:12px;
    font-weight:500; 
    color: darkblue; 
    background-color: white;    
  padding:10px 30px 10px 30px;   
transform: skewx(-25deg) translate(0.0); 
transition: 0.5s;
box-shadow: -20px 20px 10px rgb(141, 160, 160);
}
.btn:hover{   
       background-color: rgba(15, 133, 180, 0.877);
       color: white;
       border: 2.5px solid white;
        transform: skewx(25deg) translate(0.0);
        transition: 0.5s;
        box-shadow: -20px 20px 10px rgb(141, 160, 160);
    }
    /*----end---*/
      /*---Contact Us Block----*/
.contact-us-block{    
    background-image: url("../img/y78.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.contact-us-block .row{
    padding:0px;
    padding:100px;
    background-color:rgba(0, 0, 255, 0.507);
    opacity: .96; 
}

.contact-us-block h1{
    color:white;
    margin-bottom: 35px;
    font-size:35px;
    font-weight: 600; 
    font-family:Arial, Helvetica, sans-serif; 
}

.contact-us-block a{ 
       font-size:19px; 
       padding:5px 30px;  
       background-color: white; 
       color:rgba(0, 169, 255, 0.97);        
       font-weight:500;
       text-decoration: none;
  }


/*----end----*
      /*---------footer----------*/
.footer{    
    background-image: linear-gradient(to right, rgba(0, 0, 139, 0.596), rgb(48, 36, 36));
    padding: 75px;  
}

.footer address{
    color: white;
    margin-top: 5px;
}

  .footer .footer-logo .footer-logo-title{ 
      width:250px;
  }

  .footer-contact{
      height: 25px;
      width:25px;
      
  } 
  
  .footer-menu a{
    text-decoration: none;
    text-transform:uppercase;
    color: white;
  }
  .footer-menu h3{
      color:white; 
      font-size: 19px;
      padding-left:37px;   
      font-family:Arial, Helvetica, sans-serif; 
  }

  .footer-menu li{
      list-style: none;
  }

  .footer-contact-email, .footer-contact-phone{
      color:white; 
  }
.footer-btn{ 
 padding-top:19px; 
}
.footer-icon{
    padding-top: 40px;
}

  /*----Copyright-----*/

  .copyright{
      padding:20px;
      background-color: lightgray;
}
.copyright a{
    text-decoration: none;
}
/*---end---*/